<!--Contact Popup-->
<div class="contactForm z-50" id="myContent" *ngIf="isContentVisible">
    <h3 class="text-yellow-500">Contact Form</h3>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" id="contact-form" class="mx-auto mt-5 max-w-xl sm:mt-5">
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
            <div>
                <div class="mt-2.5">
                    <input required placeholder="First Name" type="text" formControlName="firstName" id="first-name"
                        class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <div class="mt-2.5">
                    <input required placeholder="Last Name" type="text" formControlName="lastName" id="last-name"
                        class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <div class="mt-2.5">
                    <input required placeholder="Email" type="email" formControlName="email" id="email"
                        class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <div class="relative mt-2.5">
                    <input required placeholder="Telephone Number" type="number" formControlName="phoneNumber"
                        id="phone-number"
                        class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <div class="mt-2.5">
                    <input required placeholder="Company" type="text" formControlName="company" id="company"
                        class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <div class="mt-2.5">
                    <input required placeholder="Company Website" type="text" formControlName="companyWebsite"
                        id="companywebsite"
                        class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div class="sm:col-span-2">
                <div class="mt-2.5">
                    <textarea placeholder="Description" formControlName="message" id="message" rows="4"
                        class="block w-full rounded-md border-0 px-3.5 py-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                </div>
            </div>
        </div>

        <div class="mt-10">
            <button type="submit"
                class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                Get in Touch
            </button>
        </div>
    </form>

    <p id="form-message">{{ formMessage }}</p>

</div>

<button class="cf-icon z-50" id="toggleButton" (click)="toggleContent()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill"
        viewBox="0 0 16 16">
        <path
            d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
    </svg>
</button>

<!-- Scroll to Top Button -->
<button id="scroll-top-btn" [ngClass]="{'show-scroll-top-btn': isScrollTopVisible}" (click)="scrollToTop()">

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-index-thumb"
        viewBox="0 0 16 16">
        <path
            d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 0 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 1 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.118a.5.5 0 0 1-.447-.276l-1.232-2.465-2.512-4.185a.517.517 0 0 1 .809-.631l2.41 2.41A.5.5 0 0 0 6 9.5V1.75A.75.75 0 0 1 6.75 1M8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v6.543L3.443 6.736A1.517 1.517 0 0 0 1.07 8.588l2.491 4.153 1.215 2.43A1.5 1.5 0 0 0 6.118 16h6.302a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5 5 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.6 2.6 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046zm2.094 2.025" />
    </svg>

</button>

<!-- navbar -->
<!-- <header x-data="{ open: false }" class="w-full text-gray-700 bg-cream" aria-label="Global">
    <div class="flex flex-col max-w-screen-xl px-8 mx-auto md:items-center md:justify-between md:flex-row">
        <div class="flex lg:flex-1 items-center justify-between py-6">
            <div class="relative">
                <a routerLink="/home"
                    class="text-lg relative z-40 font-bold tracking-widest text-gray-900 rounded-lg focus:outline-none focus:shadow-outline">
                    <strong class="text-red">R</strong>APD
                    SERVICE</a>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor"
                    class="bi bi-file h-11 z-30 absolute -top-2 -left-3" viewBox="0 0 16 16">
                    <path
                        d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1" />
                </svg>
            </div>
            <button class="rounded-lg md:hidden focus:outline-none focus:shadow-outline">
                <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                    <path x-show="!open" fill-rule="evenodd"
                        d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                        clip-rule="evenodd"></path>
                    <path x-show="open" fill-rule="evenodd"
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                        clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <nav :class="{ 'transform md:transform-none': !open, 'h-full': open }"
            class="h-0 md:h-auto flex flex-col flex-grow md:items-center pb-4 md:pb-0 md:flex md:justify-end md:flex-row origin-top duration-300 scale-y-0">
            <a class="px-4 py-2 mt-2 text-sm bg-transparent rounded-lg md:ml-4 hover:text-gray-900 focus:outline-none focus:shadow-outline"
                routerLink="/home">Home
            </a>
            <a class="px-4 py-2 mt-2 text-sm bg-transparent rounded-lg md:ml-4 hover:text-gray-900 focus:outline-none focus:shadow-outline"
                routerLink="/about">About Us
            </a>
            <li class="menu-item">
                <a id="toggleButton"
                    class="px-4 py-2 mt-2 text-sm bg-transparent rounded-lg md:ml-4 hover:text-gray-900 focus:outline-none focus:shadow-outline">
                    Services
                </a>
                <ul class="sub-menu sm:w-1/4">
                    <li><a routerLink="/qaadvisoryservice">
                            <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600 mr-3" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                            </svg>
                            QA Advisory & Consulting
                        </a></li>
                    <li><a routerLink="/testingservices">
                            <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600 mr-3" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                            </svg>
                            Managed Testing Service
                        </a></li>
                    <li><a routerLink="/projectresourcesolutions">
                            <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600 mr-3" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z" />
                            </svg>
                            Project Resource Solutions
                        </a></li>
                </ul>
            </li>
            <a class="px-4 py-2 mt-2 text-sm bg-transparent rounded-lg md:ml-4 hover:text-gray-900 focus:outline-none focus:shadow-outline"
                routerLink="/contact">Contact Us
            </a>
        </nav>
    </div>
</header> -->


<header [ngClass]="{'headerfixed': isHeaderVisible, 'dis_none': !isHeaderVisible}" class="header headerfixed dis_none">
    <div class="customcontainer dis_inline_flex">
        <div class="logo">
            <a routerLink="/home"
                class="text-lg relative z-40 font-bold tracking-widest text-gray-900 rounded-lg focus:outline-none focus:shadow-outline">
                <strong class="text-red">R</strong>APD
                SERVICE</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="40" fill="currentColor"
                class="bi bi-file h-11 z-30 absolute align_lt" viewBox="0 0 16 16">
                <path
                    d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1" />
            </svg>
        </div>

        <!-- Hamburger button -->
        <button class="hamburger" (click)="toggleMenu()">&#9776;</button>

        <!-- Navigation Menu -->
        <nav class="navbar scale-y-0">
            <ul class="menu" [ngClass]="{'show': menuOpen}">
                <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
                <li>
                    <a href="#" (click)="toggleSubmenu($event, 'services')">Services</a>
                    <ul class="submenu" [ngClass]="{'submenu-open': subMenuOpen['services']}">
                        <li>
                            <a routerLink="/qaadvisoryservice" class="dis_inline_flex" (click)="closeMenu()">
                                <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600 mr-3" fill="none"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
                                </svg>
                                <span class="p-l-10">QA Advisory & Consulting</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/testingservices" class="dis_inline_flex" (click)="closeMenu()">
                                <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600 mr-3" fill="none"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
                                </svg>
                                <span class="p-l-10">Managed Testing Service</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/projectresourcesolutions" class="dis_inline_flex" (click)="closeMenu()">
                                <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600 mr-3" fill="none"
                                    viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M13.5 16.875h3.375m0 0h3.375m-3.375 0V13.5m0 3.375v3.375M6 10.5h2.25a2.25 2.25 0 002.25-2.25V6a2.25 2.25 0 00-2.25-2.25H6A2.25 2.25 0 003.75 6v2.25A2.25 2.25 0 006 10.5zm0 9.75h2.25A2.25 2.25 0 0010.5 18v-2.25a2.25 2.25 0 00-2.25-2.25H6a2.25 2.25 0 00-2.25 2.25V18A2.25 2.25 0 006 20.25zm9.75-9.75H18a2.25 2.25 0 002.25-2.25V6A2.25 2.25 0 0018 3.75h-2.25A2.25 2.25 0 0013.5 6v2.25a2.25 2.25 0 002.25 2.25z" />
                                </svg>
                                <span class="p-l-10">Project Resource Solutions</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a routerLink="/about" (click)="closeMenu()">About</a>
                </li>
                <li><a routerLink="/contact" (click)="closeMenu()">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>