
	<!--Banner-->
	<div class="bg-cream lg:py-16">
		<div class="max-w-screen-xl px-8 mx-auto flex flex-col lg:flex-row items-start">
			<!--Left Col-->
			<div
				class="flex flex-col w-full lg:w-6/12 justify-center lg:pt-24 items-start text-center lg:text-left mb-5 md:mb-0">
				<h3 data-aos="fade-right" data-aos-once="true"
					class="my-4 text-5xl font-bold leading-tight text-darken">
					<span class="text-yellow-500">About</span> Us
				</h3>
			</div>
			<!--Right Col-->
			<div class="w-full lg:w-6/12 relative" id="girl">
				<img data-aos="fade-up" data-aos-once="true" class="w-72 lg:pt-0 lg:pb-6 mx-auto 2xl:-mb-20"
					src="assets/images/rapds3.png" />
				<div data-aos="fade-up" data-aos-delay="400" data-aos-once="true"
					class="absolute top-30 left-40 sm:right-24 sm:top-12 md:top-36 md:right-28 lg:top-24 lg:right-16 floating">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
						class="bi bi-send-arrow-up-fill" viewBox="0 0 16 16">
						<path fill-rule="evenodd"
							d="M15.854.146a.5.5 0 0 1 .11.54L13.026 8.03A4.5 4.5 0 0 0 8 12.5c0 .5 0 1.5-.773.36l-1.59-2.498L.644 7.184l-.002-.001-.41-.261a.5.5 0 0 1 .083-.886l.452-.18.001-.001L15.314.035a.5.5 0 0 1 .54.111M6.637 10.07l7.494-7.494.471-1.178-1.178.471L5.93 9.363l.338.215a.5.5 0 0 1 .154.154z" />
						<path fill-rule="evenodd"
							d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.354a.5.5 0 0 0-.722.016l-1.149 1.25a.5.5 0 1 0 .737.676l.28-.305V14a.5.5 0 0 0 1 0v-1.793l.396.397a.5.5 0 0 0 .708-.708z" />
					</svg>
				</div>
				<!-- red -->
				<div data-aos="fade-up" data-aos-delay="400" data-aos-once="true"
					class="absolute top-0 right-10 sm:right-24 sm:top-28 md:top-36 md:right-32 lg:top-32 lg:right-16 floating">

					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
						class="bi bi-slack" viewBox="0 0 16 16">
						<path
							d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111.756 8.43 1.68 8.43h1.682zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682zm6.749 1.682c0-.926.755-1.682 1.68-1.682S16 4.964 16 5.889s-.756 1.681-1.68 1.681h-1.681zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68s.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681z" />
					</svg>
				</div>
			</div>
		</div>
	</div>

	<!-- container -->
	<div class="container px-4 lg:px-8 mx-auto max-w-screen-xl text-gray-700 overflow-x-hidden">


		<!-- Our Story -->
		<div class="flex flex-col md:flex-row items-center mt-12">
			<div data-aos="fade-right" class="md:w-9/12 lg:mr-10">
				<h1 class="text-darken font-semibold text-3xl leading-tight lg:pr-32"><span class="text-yellow-500">Our
					</span> Story</h1>
				<p class="my-5 mr-5">
					Rapd brings together QA experts, each with over 15 years of experience as Test Leads, Test
					Managers, and Senior SDETs in the UK market. We understand the vital importance of product
					quality and the need for its consistent maintenance. Recognizing that QA is sometimes
					overlooked by companies, frequently due to budget limitations, we have innovated packaged
					and managed QA services to cater to a wide range of requirements. Our solutions ensure that
					high-quality assurance, speed, and cost-efficiency are within reach for everyone.
				</p>
			</div>
			<div data-aos="fade-left" class="sm:w-3/12 relative mt-10 sm:mt-0">
				<div style="background: #335352;" class="floating w-24 h-24 absolute rounded-lg z-0 -top-3 -left-3">
				</div>
				<img class="rounded-xl z-40 relative" src="assets/images/OurStory_AboutUs_1.jpg" alt="">
				<!-- <button
					class="bg-white w-14 h-14 rounded-full flex items-center justify-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 focus:outline-none transform transition hover:scale-110 duration-300 ease-in-out z-50">
					<svg class="w-5 h-5 ml-1" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M22.5751 12.8097C23.2212 13.1983 23.2212 14.135 22.5751 14.5236L1.51538 27.1891C0.848878 27.5899 5.91205e-07 27.1099 6.25202e-07 26.3321L1.73245e-06 1.00123C1.76645e-06 0.223477 0.848877 -0.256572 1.51538 0.14427L22.5751 12.8097Z"
							fill="#23BDEE" />
					</svg>
				</button> -->
				<div class="bg-yellow-500 w-40 h-40 floating absolute rounded-lg z-10 -bottom-3 -right-3"></div>
			</div>
			<!-- <img data-aos="fade-left" class="md:w-7/12" src="img/gradebook1.png"> -->
		</div>

		<!-- Our Mission -->
		<div class="mt-24 flex flex-col-reverse md:flex-row items-center md:space-x-10">

			<div data-aos="fade-right" class="sm:w-3/12 relative mt-10 sm:mt-0">
				<div style="background: #335352;" class="floating w-24 h-24 absolute rounded-lg z-0 -top-3 -left-3">
				</div>
				<img class="rounded-xl z-40 relative" src="assets/images/OurMission_AboutUs.jpg" alt="">
				<div class="bg-yellow-500 w-40 h-40 floating absolute rounded-lg z-10 -bottom-3 -right-3"></div>
			</div>
			<div data-aos="fade-left" class="md:w-9/12 md:transform md:-translate-y-6">
				<h1 class="font-semibold text-darken text-3xl lg:pr-64">Our <span class="text-yellow-500">Mission</span>
				</h1>
				<p class=" my-5 lg:pr-24">
					Our mission is simple yet powerful: to drive AI innovation, empower businesses, and enhance IT
					capabilities through tailored solutions and unparalleled expertise. We believe that technology
					should be an enabler, not a constraint, and we're here to make that vision a reality.
				</p>
			</div>
		</div>


		<!-- RAPD = Quality + Speed + Cost -->
		<div x-data="{ open: false }" class="w-full text-gray-700">
			<div class="mt-24 flex flex-col md:flex-row items-start md:space-x-10">

				<!-- <div data-aos="zoom-in-right" class="md:w-6/12">
				<img class="md:w-8/12 mx-auto" src="img/rapds2.png">
			</div> -->
				<div data-aos="zoom-in-left" class="md:w-9/12">
					<!-- <div class="flex items-center space-x-20 mb-5">
						<span class="border border-gray-300 w-14 absolute"></span>
						<h1 class="text-gray-400 tracking-widest text-sm">
							RAPD = Quality + Speed + Cost</h1>
					</div> -->
					<h1 class="font-semibold text-darken text-2xl lg:pr-40">RAPD = <span class="text-yellow-500">Quality
							+ Speed + Cost</span></h1>
					<p class=" my-5 lg:pr-20">
						Our team consists of experienced, seasoned, and knowledgeable software testing
						professionals dedicated to helping you develop flawless and improved IT systems with a keen
						focus on the end-users' needs. Boasting a broad expertise in automated, manual, and cutting-
						edge testing technologies, we guarantee the excellence of your software systems.
						<br>
						<br />
						Our proficiency in software testing is unparalleled, encompassing a comprehensive range of
						services including performance and load testing, automation testing, mobile and cloud-based
						mobile testing, Selenium testing, security testing, code verification, and manual testing, among
						others.
						<br />
						<br />
						Equipped with the ability to quickly adapt to new skills and advanced knowledge, our team
						minimizes learning time while staying up-to-date with the latest advancements in testing. This
						ensures we can offer our clients a full suite of services using the most current testing tools
						and
						techniques, allowing for the detection of even the smallest bugs.
					</p>
					<!-- <button
					class="px-5 py-3 border border-yellow-500 text-yellow-500 font-medium my-4 focus:outline-none transform transition hover:scale-110 duration-300 ease-in-out rounded-full">See
					All Integrations</button> -->
				</div>
				<div data-aos="fade-right" class="sm:w-3/12 relative mt-10 sm:mt-0">
					<div style="background: #335352;" class="floating w-24 h-24 absolute rounded-lg z-0 -top-3 -left-3">
					</div>
					<img class="rounded-xl z-40 relative" src="assets/images/QualitySpeedCost_AboutUsPage.jpg" alt="">
					<div class="bg-yellow-500 w-40 h-40 floating absolute rounded-lg z-10 -bottom-3 -right-3"></div>
				</div>
			</div>
		</div>

		<!-- Points -->
		<div class="bg-white">
			<div class="mx-auto max-w-7xl">
                
				<div class="grid md:grid-cols-3 gap-14 md:gap-5 mt-20">

					<div class="relative pl-16">
						<dt class="text-base font-semibold leading-7 text-gray-900">
							<div
								class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
								<svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
									stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
								</svg>
							</div>
							EXPERTISE THAT MATTERS
						</dt>
						<dd class="mt-2 text-base leading-7 text-gray-600">Our team comprises seasoned professionals
							who've navigated the complex IT landscape. With a wealth of experience, we bring invaluable
							insights and expertise to every project.</dd>
					</div>
					<div class="relative pl-16">
						<dt class="text-base font-semibold leading-7 text-gray-900">
							<div
								class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
								<svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
									stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M16.5 10.5V6.75a4.5 4.5 0 10-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 002.25-2.25v-6.75a2.25 2.25 0 00-2.25-2.25H6.75a2.25 2.25 0 00-2.25 2.25v6.75a2.25 2.25 0 002.25 2.25z" />
								</svg>
							</div>
							TAILORED SOLUTIONS, EVERY TIME
						</dt>
						<dd class="mt-2 text-base leading-7 text-gray-600">We recognize that no two projects are the
							same. Our approach is deeply rooted in customization, ensuring that your unique needs are
							met with precision.</dd>
					</div>
					<div class="relative pl-16">
						<dt class="text-base font-semibold leading-7 text-gray-900">
							<div
								class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
								<svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
									stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
								</svg>
							</div>
							RELIABILITY IN EVERY COMMITMENT
						</dt>
						<dd class="mt-2 text-base leading-7 text-gray-600">We pride ourselves on our unwavering
							commitment to delivering on promises. You can trust us to meet deadlines, budgets, and
							quality standards consistently.</dd>
					</div>
					<div class="relative pl-16">
						<dt class="text-base font-semibold leading-7 text-gray-900">
							<div
								class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
								<svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
									stroke="currentColor" aria-hidden="true">
									<path stroke-linecap="round" stroke-linejoin="round"
										d="M7.864 4.243A7.5 7.5 0 0119.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 004.5 10.5a7.464 7.464 0 01-1.15 3.993m1.989 3.559A11.209 11.209 0 008.25 10.5a3.75 3.75 0 117.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 01-3.6 9.75m6.633-4.596a18.666 18.666 0 01-2.485 5.33" />
								</svg>
							</div>
							SEAMLESS RESOURCE INTEGRATION
						</dt>
						<dd class="mt-2 text-base leading-7 text-gray-600">Access top-tier IT talent with ease. We offer
							a diverse pool of resources, ensuring that you have the right skills at the right time.</dd>
					</div>

					<div class="relative pl-16">
						<dt class="text-base font-semibold leading-7 text-gray-900">
							<div
								class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
								<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
									class="bi bi-app-indicator h-6 text-white" viewBox="0 0 16 16">
									<path
										d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1z" />
									<path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
								</svg>
							</div>
							FUTURE-READY APPROACH
						</dt>
						<dd class="mt-2 text-base leading-7 text-gray-600">In the fast-paced world of technology, we
							stay ahead of the curve. Our strategies are designed to keep you at the forefront of
							innovation.</dd>
					</div>

					<div class="relative pl-16">
						<dt class="text-base font-semibold leading-7 text-gray-900">
							<div
								class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
								
								<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
									class="bi bi-bezier2 h-6 text-white" viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										d="M1 2.5A1.5 1.5 0 0 1 2.5 1h1A1.5 1.5 0 0 1 5 2.5h4.134a1 1 0 1 1 0 1h-2.01q.269.27.484.605C8.246 5.097 8.5 6.459 8.5 8c0 1.993.257 3.092.713 3.7.356.476.895.721 1.787.784A1.5 1.5 0 0 1 12.5 11h1a1.5 1.5 0 0 1 1.5 1.5v1a1.5 1.5 0 0 1-1.5 1.5h-1a1.5 1.5 0 0 1-1.5-1.5H6.866a1 1 0 1 1 0-1h1.711a3 3 0 0 1-.165-.2C7.743 11.407 7.5 10.007 7.5 8c0-1.46-.246-2.597-.733-3.355-.39-.605-.952-1-1.767-1.112A1.5 1.5 0 0 1 3.5 5h-1A1.5 1.5 0 0 1 1 3.5zM2.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm10 10a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z" />
								</svg>
							</div>
							PARTNERSHIP, NOT JUST SERVICE
						</dt>
						<dd class="mt-2 text-base leading-7 text-gray-600">We don't just provide services; we build
							lasting partnerships. Your success is our success, and we're dedicated to achieving it
							together.</dd>
					</div>
				</div>

			</div>
		</div>

	</div>