<!-- <app-home></app-home>
<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->
<div *ngIf="isHomePage; else otherPages">
  <app-home></app-home>
</div>

<ng-template #otherPages>
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</ng-template>

<!-- <div [ngClass]="{'home-page': isHomePage, 'other-pages': !isHomePage}">
  <app-home #home *ngIf="isHomePage"></app-home>
  <app-header #header *ngIf="!isHomePage"></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div> -->