 <!--No Banner-->
    <!--Container-->
    <div class="container px-4 lg:px-8 mx-auto max-w-screen-xl text-gray-700 overflow-x-hidden">
        <!-- <div id="success-message">Thank you for your message, we will contact you shortly.</div> -->
        <div class="max-w-screen-xl px-8 mx-auto flex flex-col lg:flex-row items-start">
            <!--Left Col-->
            <div
                class="flex flex-col w-full lg:w-6/12 justify-center lg:pt-24 items-start text-center lg:text-left mb-5 md:mb-0">
                <h3 data-aos="fade-right" data-aos-once="true"
                    class="my-4 text-5xl font-bold leading-tight text-darken">
                    <span class="text-yellow-500">Thank you for your message, </span> we will contact you shortly.
                </h3>
            </div>
            <!--Right Col-->
            <div class="w-full lg:w-6/12 relative" id="girl">
                <img data-aos="fade-up" data-aos-once="true" class="w-72 lg:pt-24 mx-auto 2xl:-mb-20"
                    src="img/img/thankyou.gif" />
            </div>
        </div>
    </div>