<!--Container-->
	<!--Banner-->
	<div class="bg-cream">
		<div class="max-w-screen-xl px-8 mx-auto flex flex-col lg:flex-row items-start">
			<!--Left Col-->
			<div
				class="flex flex-col w-full lg:w-6/12 justify-center lg:pt-24 items-start text-center lg:text-left mb-5 md:mb-0">
				<h3 data-aos="fade-right" data-aos-once="true"
					class="my-4 text-5xl font-bold leading-tight text-darken">
					<span class="text-yellow-500">Testing</span> Services
				</h3>
			</div>
			<!--Right Col-->
			<div class="w-full lg:w-6/12 relative" id="girl">
				<img data-aos="fade-up" data-aos-once="true" class="w-72 lg:pt-0 lg:pb-6 mx-auto 2xl:-mb-20"
					src="assets/images/ManagedTestingService_FirstImageAfterTop-removebg-preview.png" />
				<div data-aos="fade-up" data-aos-delay="400" data-aos-once="true"
					class="absolute top-30 left-40 sm:right-24 sm:top-12 md:top-36 md:right-28 lg:top-24 lg:right-16 floating">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
						class="bi bi-send-arrow-up-fill" viewBox="0 0 16 16">
						<path fill-rule="evenodd"
							d="M15.854.146a.5.5 0 0 1 .11.54L13.026 8.03A4.5 4.5 0 0 0 8 12.5c0 .5 0 1.5-.773.36l-1.59-2.498L.644 7.184l-.002-.001-.41-.261a.5.5 0 0 1 .083-.886l.452-.18.001-.001L15.314.035a.5.5 0 0 1 .54.111M6.637 10.07l7.494-7.494.471-1.178-1.178.471L5.93 9.363l.338.215a.5.5 0 0 1 .154.154z" />
						<path fill-rule="evenodd"
							d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.354a.5.5 0 0 0-.722.016l-1.149 1.25a.5.5 0 1 0 .737.676l.28-.305V14a.5.5 0 0 0 1 0v-1.793l.396.397a.5.5 0 0 0 .708-.708z" />
					</svg>
				</div>
				<!-- red -->
				<div data-aos="fade-up" data-aos-delay="400" data-aos-once="true"
					class="absolute top-0 right-10 sm:right-24 sm:top-28 md:top-36 md:right-32 lg:top-32 lg:right-16 floating">

					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
						class="bi bi-slack" viewBox="0 0 16 16">
						<path
							d="M3.362 10.11c0 .926-.756 1.681-1.681 1.681S0 11.036 0 10.111.756 8.43 1.68 8.43h1.682zm.846 0c0-.924.756-1.68 1.681-1.68s1.681.756 1.681 1.68v4.21c0 .924-.756 1.68-1.68 1.68a1.685 1.685 0 0 1-1.682-1.68zM5.89 3.362c-.926 0-1.682-.756-1.682-1.681S4.964 0 5.89 0s1.68.756 1.68 1.68v1.682zm0 .846c.924 0 1.68.756 1.68 1.681S6.814 7.57 5.89 7.57H1.68C.757 7.57 0 6.814 0 5.89c0-.926.756-1.682 1.68-1.682zm6.749 1.682c0-.926.755-1.682 1.68-1.682S16 4.964 16 5.889s-.756 1.681-1.68 1.681h-1.681zm-.848 0c0 .924-.755 1.68-1.68 1.68A1.685 1.685 0 0 1 8.43 5.89V1.68C8.43.757 9.186 0 10.11 0c.926 0 1.681.756 1.681 1.68zm-1.681 6.748c.926 0 1.682.756 1.682 1.681S11.036 16 10.11 16s-1.681-.756-1.681-1.68v-1.682h1.68zm0-.847c-.924 0-1.68-.755-1.68-1.68s.756-1.681 1.68-1.681h4.21c.924 0 1.68.756 1.68 1.68 0 .926-.756 1.681-1.68 1.681z" />
					</svg>
				</div>
			</div>
		</div>
	</div>
	<!-- container -->
	<div class="container px-4 lg:px-8 mx-auto max-w-screen-xl text-gray-700 overflow-x-hidden">

		<!-- Testing Services -->
		<div class="flex flex-col md:flex-row items-center mt-12">
			<div data-aos="fade-right" class=" md:w-full">
				<p class="my-5 lg:pr-12">
					Quality is the foundation of an outstanding user experience. Ensuring software meets its
specified quality and compliance requirements through rigorous testing is essential. Poor-
quality applications present significant risks to organizations, encompassing both system-
related and process-related challenges. System-related risks can be uncovered through
thorough testing, but identifying process-related risks demands a profound knowledge of
software quality assurance practices. Rapd excels in navigating both domains, offering expert
Quality Assurance solutions tailored to your organization's needs.<br /><br />
<strong>Minimal Risk:</strong>
Our methodology prioritizes risk mitigation at every stage of the testing process. By identifying
potential issues early and implementing targeted solutions, we minimize the likelihood of costly
errors or delays, safeguarding our clients' investments and reputations.<br /><br />
<strong>Coverage:</strong>
Our approach ensures exhaustive test coverage across all critical aspects of your application.
By systematically mapping out and testing every functionality and user journey, we guarantee no
stone is left unturned, significantly reducing the chance of undetected issues.<br /><br />
<strong>Test Automation Coverage:</strong>
Leveraging the latest in test automation technology, we maximize the efficiency and
effectiveness of your testing efforts. Our sophisticated automation strategies cover more
ground in less time, enabling rapid iteration and feedback, which are crucial for agile
development environments.<br /><br />
<strong>Leveraging Re-usability:</strong>
We believes in smart, sustainable testing. By developing and utilizing reusable testing assets—
such as automated test scripts, frameworks, and data sets—we not only speed up the testing
process but also reduce costs. This approach fosters a cycle of continuous improvement, as
assets refined over one project can enhance the quality and efficiency of future projects.
				</p>
			</div>
		</div>

	</div>
	<!-- container -->
	<div class="container px-4 lg:px-8 mx-auto max-w-screen-xl text-gray-700">

		<div class="grid md:grid-cols-3 gap-14 md:gap-5 mt-20">
			<div class="relative pl-4">

				<div data-aos="fade-left"
					class="w-20 h-20 flex items-center justify-center mx-auto transform -translate-y-12">
					<img class="rounded-xl" src="assets/images/Functional Testing_ManagedTestingService.jpg" alt="">
				</div>
				<h1 class=" mt-3 text-darken font-semibold text-2xl leading-tight lg:pr-18">Functional <span
						class="text-yellow-500">
						Testing
					</span> </h1>
				<p class="my-5 text-base leading-7">
					We address functional testing challenges by ensuring comprehensive test coverage,
					clarifying requirements through close collaboration, and simplifying complex test
					environments. Our expertise guarantees that software meets all specified requirements
					with high accuracy and efficiency.
				</p>
                
			</div>
			<div class="relative pl-4">
                
				<div data-aos="fade-left"
					class="w-20 h-20 flex items-center justify-center mx-auto transform -translate-y-12">
					<img class="rounded-xl" src="assets/images/TestAutomation_TestingService.jpg" alt="">
				</div>
				<h1 class="mt-3 font-semibold text-darken text-2xl lg:pr-18">Test <span
						class="text-yellow-500">Automation</span></h1>
				<p class="my-5">
					Enhance efficiency, accelerate delivery, and boost user satisfaction by implementing
					test automation across diverse tools. Our seasoned expertise navigates you towards
					these objectives, ensuring minimal risk and maximum return on investment.
				</p>
				<!-- </div>
				</div> -->
			</div>
			<div class="relative pl-4">
				<!---- Know more Testing Services ---->
				<!-- <div data-aos="flip-up"
			class="px-5 py-3 text-yellow-500  lg:text-center font-medium my-14 transform transition hover:scale-110 duration-300 ease-in-out mx-auto block">
			---- Know more Testing Services ----
		</div> -->

				<!-- Performance Testing -->
				<!-- <div class="w-full text-gray-700">
					<div class="mt-24 flex flex-col md:flex-row items-start md:space-x-10">
						<div data-aos="fade-right" class="sm:w-1/2 relative mt-10 sm:mt-0">
							<div style="background: #335352;"
								class="floating w-24 h-24 absolute rounded-lg z-0 -top-3 -left-3">
							</div>
							<img class="rounded-xl z-40 relative" src="img/rapds2.png" alt="">
							<div class="bg-yellow-500 w-40 h-40 floating absolute rounded-lg z-10 -bottom-3 -right-3">
							</div>
						</div>
						
						<div data-aos="zoom-in-left" class="md:w-6/12">
							<div class="flex items-center space-x-20 mb-5"> 
								<span class="border border-gray-300 w-14 absolute"></span>-->
				<div data-aos="fade-left"
					class="w-20 h-20 flex items-center justify-center mx-auto transform -translate-y-12">
					<img class="rounded-xl" src="assets/images/PerformanceTesting_TestingService.jpg" alt="">
				</div>

				<!-- </div> -->
				<h1 class="mt-3 font-semibold text-darken text-2xl lg:pr-18">Performance <span
						class="text-yellow-500">Testing</span></h1>
				<p class="my-5">
					Attain exceptional application performance across a range of scenarios and conditions.
					Our
					experts instill confidence in handling load and identifying performance bottlenecks in
					your
					application.
				</p>
				<!-- </div>
					</div>
				</div> -->
			</div>
			<div class="relative pl-4">
				<!-- Security Testing -->
				<!-- <div class="mt-24 flex flex-col-reverse md:flex-row items-start md:space-x-10">
					<div data-aos="zoom-in-right" class="md:w-5/12">
						<div class="flex items-center space-x-20 mb-5">
							<span class="border border-gray-300 w-14 absolute"></span> -->

				<div data-aos="fade-left"
					class="w-20 h-20 flex items-center justify-center mx-auto transform -translate-y-12">
					<img class="rounded-xl" src="assets/images/Security Testing_TestingService.jpg">
				</div>
				<!-- </div> -->
				<h1 class="mt-3 font-semibold text-darken text-2xl lg:pr-18">Security <span
						class="text-yellow-500">Testing</span></h1>
				<p class="my-5">
					Nobody online is exempt from security risks. Our performance specialists focus on closing
					security gaps in developed products, providing robust protection against data breaches.
				</p>
				<!-- </div>
					<div data-aos="zoom-in-left" class="md:w-7/12">
						<img class="md:w-10/12 mx-auto" src="img/rapds3.png"> -->
				<!-- </div>
				</div> -->
			</div>
			<div class="relative pl-4">
				<!-- Microsoft Dynamic 365 Testing -->
				<!-- <div class="w-full text-gray-700">
					<div class="mt-24 flex flex-col md:flex-row items-start md:space-x-10">
						<div data-aos="fade-right" class="sm:w-1/2 relative mt-10 sm:mt-0">
							<div style="background: #335352;"
								class="floating w-24 h-24 absolute rounded-lg z-0 -top-3 -left-3">
							</div>
							<img class="rounded-xl z-40 relative" src="img/rapds2.png" alt="">
							<div class="bg-yellow-500 w-40 h-40 floating absolute rounded-lg z-10 -bottom-3 -right-3">
							</div>
						</div>
						<div data-aos="zoom-in-left" class="md:w-6/12">
							<div class="flex items-center space-x-20 mb-5">
								<span class="border border-gray-300 w-14 absolute"></span> -->
				<div data-aos="fade-left"
					class="w-20 h-20 flex items-center justify-center mx-auto transform -translate-y-12">
					<img class="rounded-xl" src="assets/images/Microsoft Dynamic_TestingService.jpg" alt="">

				</div>
				<h1 class="mt-3 font-semibold text-darken text-2xl lg:pr-18">Microsoft <span
						class="text-yellow-500">Dynamic 365</span></h1>
				<p class="my-5">
					Our 'Dynamic' 365 team appreciates that testing Microsoft Dynamics 365 demands a
					specialized strategy, unlike typical software implementations. We are committed to
					ensuring the highest return on your technology investment, recognizing its critical
					importance.
				</p>
				<!-- </div>
					</div>
				</div> -->
			</div>
			<div class="relative pl-4">
				<!-- API Testing -->
				<!-- <div class="mt-24 flex flex-col-reverse md:flex-row items-start md:space-x-10">
					<div data-aos="zoom-in-right" class="md:w-5/12">
						<div class="flex items-center space-x-20 mb-5">
							<span class="border border-gray-300 w-14 absolute"></span> -->
				<div data-aos="fade-left"
					class="w-20 h-20 flex items-center justify-center mx-auto transform -translate-y-12">
					<img class="rounded-xl" src="assets/images/API Testing_TestingService.jpg">
				</div>
				<h1 class="mt-3 font-semibold text-darken text-2xl lg:pr-18">API <span
						class="text-yellow-500">Testing</span></h1>
				<p class="my-5">
					We acknowledge the essential function your APIs serve in everyday business activities. Our
					API expert team understands the importance of streamlining processes through
					automation, from testing to deployment, to simplify your release procedures.
				</p>
				<!-- </div>
					<div data-aos="zoom-in-left" class="md:w-7/12">
						<img class="md:w-10/12 mx-auto" src="img/rapds3.png">
					</div>
				</div> -->
			</div>
			<div class="relative pl-4">
				<!-- Mobile app Testing -->
				<!-- <div class="w-full text-gray-700">
					<div class="mt-24 flex flex-col md:flex-row items-start md:space-x-10">
						<div data-aos="fade-right" class="sm:w-1/2 relative mt-10 sm:mt-0">
							<div style="background: #335352;"
								class="floating w-24 h-24 absolute rounded-lg z-0 -top-3 -left-3">
							</div>
							<img class="rounded-xl z-40 relative" src="img/rapds2.png" alt="">
							<div class="bg-yellow-500 w-40 h-40 floating absolute rounded-lg z-10 -bottom-3 -right-3">
							</div>
						</div>
						<div data-aos="zoom-in-left" class="md:w-6/12">
							<div class="flex items-center space-x-20 mb-5">
								<span class="border border-gray-300 w-14 absolute"></span> -->
				<div data-aos="fade-left"
					class="w-20 h-20 flex items-center justify-center mx-auto transform -translate-y-12">
					<img class="rounded-xl" src="assets/images/MobileAppTesting_TestingService.jpg" alt="">

				</div>
				<h1 class="mt-3 font-semibold text-darken text-2xl lg:pr-18">Mobile app <span
						class="text-yellow-500">Testing</span></h1>
				<p class="my-5">
					The complexity and range of testing for newly created mobile applications on diverse
					devices, platforms, and services grow each day. Our team of skilled test architects and
					engineers will deliver mobile testing services with unmatched professionalism and
					expertise.
				</p>
				<!-- </div>
					</div>
				</div> -->
			</div>
			<div class="relative pl-4">
				<!-- AI generated Test Data -->
				<!-- <div class="mt-24 flex flex-col-reverse md:flex-row items-start md:space-x-10">
					<div data-aos="zoom-in-right" class="md:w-5/12">
						<div class="flex items-center space-x-20 mb-5">
							<span class="border border-gray-300 w-14 absolute"></span> -->
				<div data-aos="fade-left"
					class="w-20 h-20 flex items-center justify-center mx-auto transform -translate-y-12">
					<img class="rounded-xl" src="assets/images/AI generated Test Data_TestingService.jpg">
				</div>
				<h1 class="mt-3 font-semibold text-darken text-2xl lg:pr-18">AI generated <span
						class="text-yellow-500">Test Data</span></h1>
				<p class="my-5">
					We recognize the significance of having precise test data across various environments.
					Therefore, our partner utilizes AI capabilities to generate this data, allowing our testing
					specialists to concentrate more on enhancing the quality of your products.
				</p>
				<!-- </div>
					<div data-aos="zoom-in-left" class="md:w-7/12">
						<img class="md:w-10/12 mx-auto" src="img/rapds3.png">
					</div>
				</div> -->
			</div>
			<div class="relative pl-4">
				<!-- Big Data -->
				<!-- <div class="w-full text-gray-700">
					<div class="mt-24 flex flex-col md:flex-row items-start md:space-x-10">
						<div data-aos="fade-right" class="sm:w-1/2 relative mt-10 sm:mt-0">
							<div style="background: #335352;"
								class="floating w-24 h-24 absolute rounded-lg z-0 -top-3 -left-3">
							</div>
							<img class="rounded-xl z-40 relative" src="img/rapds2.png" alt="">
							<div class="bg-yellow-500 w-40 h-40 floating absolute rounded-lg z-10 -bottom-3 -right-3">
							</div>
						</div>
						<div data-aos="zoom-in-left" class="md:w-6/12">
							<div class="flex items-center space-x-20 mb-5">
								<span class="border border-gray-300 w-14 absolute"></span> -->
				<div data-aos="fade-left"
					class="w-20 h-20 flex items-center justify-center mx-auto transform -translate-y-12">
					<img class="rounded-xl" src="assets/images/BigData_TestingService.jpg" alt="">

				</div>
				<h1 class="mt-3 font-semibold text-darken text-2xl lg:pr-18">Big <span
						class="text-yellow-500">Data</span>
				</h1>
				<p class="my-5">
					In the age of AI and data, leverage our expertise to navigate the challenge of analyzing
					and
					interpreting the vast amounts of data produced through the digital transformation of
					testing
					processes.
				</p>
				<!-- </div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
	<!-- other testing -->
	<div class="container px-4 lg:px-8 mx-auto max-w-screen-xl text-gray-700">
		<div class="relative pl-4">
			<h1 class="mt-3 font-semibold text-darken text-2xl lg:pr-1">IR<span class="text-yellow-500">35 :</span>
			</h1>
			<p class="my-5">
				A regulation enforced by HMRC, is used to determine if a contractor is genuinely self-
				employed. Rapd offers a thorough service aimed at addressing and resolving any liabilities
				or challenges related to this regulation. Our approach effectively reduces current risks and
				secures the sustainability of your staffing model.
				Rapd provides insured work packages for projects outside the scope of IR35, offering relief
				from potential concerns and ensuring your peace of mind. We deliver a variety of adaptable
				resourcing solutions designed to help our clients cut costs, including management of IR35
				compliance and contract insurance. Our offerings include both onshore and offshore
				options, enabling offsite work to accommodate budget and staffing limitations.
			</p>
		</div>
	</div>
