.dis_none{
    display: none;
}
.headerfixed {
    position: fixed;
    top: 0;
    z-index: 999;
}

@media (max-width: 768px) {

  .headerfixed {
    padding: 10px 20px;
    font-size: 1rem; 
  }

  .slide {
    background-size: cover; 
    background-position: center;
  }
}

@media (max-width: 480px) {

  .headerfixed {
    padding: 8px 15px;
    font-size: 0.9rem;
  }
}

  